In [7]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
     Column('id', Integer, primary_key=True),
     Column('name', String(50)),
     Column('fullname', String(50)),
 )

addresses = Table('addresses', metadata,
   Column('id', Integer, primary_key=True),
   Column('user_id', None, ForeignKey('users.id')),
   Column('email_address', String(50), nullable=False)
)

In [15]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:ime2018@localhost:3306/test')
metadata.create_all(engine)

C:\Users\sc82c\AppData\Local\conda\conda\envs\db\lib\site-packages\pymysql\cursors.py:165: Warning: (1681, "'@@SESSION.GTID_EXECUTED' is deprecated and will be removed in a future release.")
  result = self._query(query)
C:\Users\sc82c\AppData\Local\conda\conda\envs\db\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 474")
  result = self._query(query)

In [8]:
ins = users.insert()

In [9]:
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [10]:
ins = users.insert().values(name='jack', fullname='Jack Jones')

In [12]:
print(ins)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [13]:
ins.compile().params

{'name': 'jack', 'fullname': 'Jack Jones'}

In [16]:
conn = engine.connect()

ins = users.insert()
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

In [19]:
conn.execute(addresses.insert(), [
    {'user_id': 2, 'email_address' : 'jack@yahoo.com'},
    {'user_id': 2, 'email_address' : 'jack@msn.com'},
    {'user_id': 2, 'email_address' : 'www@www.org'},
    {'user_id': 2, 'email_address' : 'wendy@aol.com'},
 ])

In [20]:
from sqlalchemy.sql import select
s = select([users])
result = conn.execute(s)

In [22]:
for row in result:
    print(row)

In [24]:
s = select([users, addresses]).where(users.c.id == addresses.c.user_id)
for row in conn.execute(s):
    print(row)

(2, 'wendy', 'Wendy Williams', 9, 2, 'jack@yahoo.com')
(2, 'wendy', 'Wendy Williams', 10, 2, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 11, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 12, 2, 'wendy@aol.com')