In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('mysql+pymysql://root:ime2018@localhost:3306/northwind')

In [10]:
connection = engine.connect()
result = connection.execute("SELECT EmployeeID, LastName, FirstName, Title FROM employees")
for row in result:
    print("FirstName:", row['FirstName'])
connection.close()

FirstName: Nancy
FirstName: Andrew
FirstName: Janet
FirstName: Margaret
FirstName: Steven
FirstName: Michael
FirstName: Robert
FirstName: Laura
FirstName: Anne

C:\Users\sc82c\AppData\Local\conda\conda\envs\db\lib\site-packages\pymysql\cursors.py:165: Warning: (1681, "'@@SESSION.GTID_EXECUTED' is deprecated and will be removed in a future release.")
  result = self._query(query)
C:\Users\sc82c\AppData\Local\conda\conda\envs\db\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 474")
  result = self._query(query)

In [ ]:
connection = engine.connect()
trans = connection.begin()
try:
    r1 = connection.execute(table1.select())
    connection.execute(table1.insert(), col1=7, col2='this is some data')
    trans.commit()
except:
    trans.rollback()
    raise

In [ ]:
with engine.begin() as connection:
    r1 = connection.execute(table1.select())
    connection.execute(table1.insert(), col1=7, col2='this is some data')

In [ ]:
with connection.begin() as trans:
    r1 = connection.execute(table1.select())
    connection.execute(table1.insert(), col1=7, col2='this is some data')